<a href="https://colab.research.google.com/github/Ldkhanhduy/baitaptrenlop/blob/main/Baitapdulieulop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1=['physics', 'chemistry', 1997, 2000]
list2=[1, 2, 3, 4, 5, 6, 7]
list3=["a", "b", "c", "d"]

In [ ]:
print("list1[0]:", list1[0])
print("list2[1:5]:", list2[1:5])

list1[0]: physics
list2[1:5]: [2, 3, 4, 5]

In [ ]:
list1[2]=2001
print("gia tri thu ba moi:", list1[2])

gia tri thu ba moi: 2001

In [ ]:
del list1[2]
print("gia tri thu ba da bi xoa:", list1)

gia tri thu ba da bi xoa: ['physics', 'chemistry']

In [ ]:
print(len(list2))
list4=list1+list2
print(list4)
2 in list2

7
['physics', 'chemistry', 1, 2, 3, 4, 5, 6, 7]

True

In [ ]:
print(list2[2:-2])
print(list1[2:])
print(list3[:2])

[3, 4, 5]

In [ ]:
tup1=('physics', 'chemistry', 1997, 2007)
tup2=(1, 2, 3, 4, 5, 6, 7)
print(tup2[2:4])

(3, 4)

In [ ]:
tup3=tup1+tup2
print(tup3)

('physics', 'chemistry', 1997, 2007, 1, 2, 3, 4, 5, 6, 7)

In [ ]:
tup=('Toan', 'van', 'Anh')
print(tup)
del tup
print(tup) #gap loi vi khong ton tai

('Toan', 'van', 'Anh')

NameError: ignored

In [ ]:
dict1={"Name": "Duy", "Age": 18, "Class": "K2"}
print('dict["Name"]:', dict1["Name"])

dict["Name"]: Duy

In [ ]:
dict1["Age"]= 19
print('dict1["Age]:', dict1["Age"])

dict1["Age]: 19

In [ ]:
dict3={"a": "A", "b": "B", "c": "C", "d": "D", "e": "E"}
del dict3["e"]
print(dict3)
dict3.clear()
print(dict3)
del dict3 #gap loi vi khong con ton tai
print(dict3)

In [ ]:
Set = set(["a", "b", "c"]) 
print("Set: ") 
print(Set) 
# Adding element to the set 
Set.add("d") 
print("\nSet after adding: ") 
print(Set)

Set:
{'a', 'c', 'b'}

Set after adding:
{'a', 'c', 'b', 'd'}

In [ ]:
people = {"Jay", "Idrish", "Archi"} 
print("People: ") 
print(people) 
people.add("Daxit") 
for i in range(1, 6): 
people.add(i) 
print("\nSet after adding element:", end = " ") print(people)

In [ ]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"]) Days.discard("Sun") 
print(Days)

In [ ]:
set1 = {1,2,3,4,5,6} 
print("Initial set") 
print(set1) 
set1.clear() 
print("\nSet after using clear() function")

Initial set
{1, 2, 3, 4, 5, 6}

Set after using clear() function

In [ ]:
people = {"Jay", "Idrish", "Archil"} 
vampires = {"Karan", "Arjun"} 
dracula = {"Deepanshu", "Raju"} 
# Union using union() function 
population = people.union(vampires) 
print("Union using union() function") 
print(population) 
# Union using "|" operator 
population = people|dracula 
print("\nUnion using '|' operator") 
print(population) 
#Union using union() function 
#{'Jay', 'Karan', 'Idrish', 'Arjun', 'Archil'} #Union using '|' operator 
#{'Jay', 'Raju', 'Deepanshu', 'Idrish', 'Archil'}

Union using union() function
{'Karan', 'Archil', 'Arjun', 'Idrish', 'Jay'}

Union using '|' operator
{'Deepanshu', 'Archil', 'Raju', 'Idrish', 'Jay'}

In [ ]:
DaysA = set(["Mon","Tue","Wed"]) 
DaysB = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]) SubsetRes = DaysA <= DaysB 
SupersetRes = DaysB >= DaysA 
print(SubsetRes) 
print(SupersetRes)

In [ ]:
import time; 
localtime = time.asctime( time.localtime(time.time()) ) 
print("Local current time :", localtime)

Local current time : Thu Sep 30 01:15:22 2021

In [ ]:
import calendar 
cal = calendar.month(2008, 1) 
print("Here is the calendar:") 
print(cal)

Here is the calendar:
    January 2008
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31